@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nanum Gothic Coding";
  src: url("/fonts/nanum-gothic-coding-regular.woff2") format("woff2"),
    url("/fonts/nanum-gothic-coding-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Gothic Coding";
  src: url("/fonts/nanum-gothic-coding-bold.woff2") format("woff2"),
    url("/fonts/nanum-gothic-coding-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* 기본 스타일 */
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Nanum Gothic Coding", monospace;
}
